@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}

<div id="main-swap">
    <section class="flex w-full font-bold text-2xl pb-5">
        <div class="flex w-1/2">Dashboard</div>
        <div class="flex w-1/2 justify-end"></div>
    </section>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 pb-10">
        <div>
            <div hx-get="/dashboard/tickets"
                 hx-trigger="load"
                 hx-swap="outerHTML">
            </div>
        </div>
        <div>
            <div hx-get="/dashboard/overdue"
                 hx-trigger="load"
                 hx-swap="outerHTML">
            </div>
        </div>
        <div>
            <div hx-get="/dashboard/duetoday"
                 hx-trigger="load"
                 hx-swap="outerHTML">
            </div>
        </div>
        <div>
            <div hx-get="/dashboard/opentickets"
                 hx-trigger="load"
                 hx-swap="outerHTML">
            </div>
        </div>
        <div>
            <div hx-get="/dashboard/openoverdue"
                 hx-trigger="load"
                 hx-swap="outerHTML">
            </div>
        </div>
    </div>
    @*
    <section class="title font-semibold text-sm pb-5">
        Recent Tickets
    </section>

    <div class="w-full flex">
        @await Component.InvokeAsync("RecentTicket")
    </div>*@
</div>