.ui.selection.dropdown {
    border-radius: 0.125rem;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity));
}

.ui.selection.dropdown:hover , .ui.selection.dropdown:focus{
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity));
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*--tw-border-opacity: 1;*/
/*border-color: rgb(165 180 252/var(--tw-border-opacity));*/
/*--tw-ring-opacity: 1;*/
/*--tw-ring-color: rgb(165 180 252/var(--tw-ring-opacity));*/
