@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Users";
}

<div class="">
    <section class="title font-bold text-2xl pb-5">
        Agents
    </section>

</div>