@{
  var primary = "bg-indigo-500 text-white hover:bg-indigo-600 focus:ring-indigo-800";
}

<div id="main-swap">
  <section class="flex w-full font-bold text-2xl pb-5">
    <div class="flex w-1/2">Business Hour</div>
    <div class="flex w-1/2 justify-end">
      <div class="">
        <button class="text-sm rounded px-3 py-1 focus:outline-none cursor-pointer drop-shadow-md @primary"
          hx-get="/admin/businesshour/create" hx-trigger="click" hx-target="#main-swap" hx-swap="outerHTML"
          hx-push-url="true">
          New Hour
        </button>
      </div>
    </div>
  </section>

  <div class="w-full flex bg-white drop-shadow-lg rounded px-10 py-10">

  </div>
</div>